.main-header {
    font-family: var(--ff-header);
    font-weight: var(--fw-900);
    font-size: var(--fs-h1);
    line-height: var(--lh-24);
}

.section-heading {
    font-family: var(--ff-header);
    font-weight: var(--fw-700);
    font-size: var(--fs-h3);
    line-height: var(--lh-28);
}