<a
  href='{{href}}'
  target='_blank'
  rel='noopener noreferrer'
  aria-label='{{ariaLabel}}'
>{{text}}
<span class="visually-hidden"> (opens in a new tab)</span>
<svg aria-hidden="true" focusable="false" class="external-link-icon">
    <use href="#external-link-icon"></use>
</svg>
</a>